# SPDX-FileCopyrightText: (c) 2018-2023 Siemens
# SPDX-License-Identifier: MIT

## Ignore common Python folders & files
__pycache__
capycli.egg-info/

# Project specific
.vs/
Archive/
DemoData/
doc/
*.json
*.bak
*.pyc
Demo/
Full_Demo/
RealData/
Testdata/
source_files/
dist/
xxx_*
.capycli.cfg

# coverage data
htmlcov/
.coverage
coverage.xml

# preliminary
sw360/
cli/
xxsw360/
xxcli/
Releases/

# internal stuff
__internal__/
_internal_tests_/
Local_Test/

!SBOM/*.json
!tests/fixtures/*

SoftwareClearing/*.html
SoftwareClearing/*.json
SoftwareClearing/*.txt
!SoftwareClearing/projectinfo.json

